html, body {
    width:100%;
    height:100%;
}

.dd{
    margin: 12px; 
    display: block;
    width: 250px;
}

.dd2{
    margin: 12px; 
    display: block;
    width: 130px;
}

.dd3{
    margin: 12px; 
    display: block;
    width: 230px;
}

#page_title{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#SQL-output2{
    width: 99%;
    height: 100%;
}

#main_div{
    width:100%;
    height:600px;
}

#options{
    flex-shrink: 0;
    display : flex;
    flex-direction: row;
    justify-content:flex-start;
    vertical-align: middle;
}

.card_title{
    font-size: 9px;
    font-weight: bold;
}

.card3 {
    box-shadow: 6px 6px 6px rgb(214, 213, 213);
}

.dbc_row{
    margin-bottom: 3px;
}

#left_demo_list{
    width:15%;
    height: 100%;
    float:left;
    color: white;
}

#right_demo_list{
    width:15%;
    height: 100%;
    float:left; 
    color: white;
}

#demo_list{
    width:68%;
    height: 100%;
    float:left;
    text-align: justify;
    text-justify: inter-word;
}

#home_page{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.list_item_descriptor{
    font-size: 30px;
    font-weight: bold;
}

.main_text{
    font-size: 25px;
}

.list_text{
    font-size: 25px;
} 