@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html, body {
    width:100%;
    height:100%;
    font-family: Montserrat;
}

.dd{
    margin-left: 20px; 
    display: block;
    width: 220px;
    height: 80%;
    font-size: 0.8vw;
    font-weight: bold;
    margin-top: 2vh;
}

.button1{
    margin: 12px; 
    display: block;
    width: 130px;
    height: 50px;
    font-size: large;
}

.button2{
    margin: 12px; 
    display: block;
    width: 130px;
    height: 50px;
    font-size: large;
}

.dd3{
    margin: 12px; 
    display: block;
    width: 300px;
    font-size: 1vw;
    font-weight: bold;
}

#page_title{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    font-size: 3vh;
}

#SQL-output2{
    width: 99%;
    height: 100%;
}       


#c2{
    text-align: center;
}
#c3{
    width: 65%;
}

#options{
    flex-shrink: 0;
    display : flex;
    flex-direction: row;
    justify-content:flex-start;
    vertical-align: middle;
}

.card_title{
    font-size: 9px;
    font-weight: bold;
}

.card3 {
    box-shadow: 6px 6px 6px rgb(214, 213, 213);
}

.dbc_row{
    margin-bottom: 3px;
}

#left_demo_list{
    width:15%;
    height: 100%;
    float:left;
    color: white;
}

#right_demo_list{
    width:15%;
    height: 100%;
    float:left; 
    color: white;
}

#demo_list{
    width:68%;
    height: 100%;
    float:left;
    text-align: justify;
    text-justify: inter-word;
}

#home_page{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.list_item_descriptor{
    font-size: 30px;
    font-weight: bold;
}

.main_text{
    font-size: 25px;
}

.list_text{
    font-size: 25px;
} 

#data_quality_button {
    margin: 12px; 
    display: inline-block;
    display: block;
    white-space: nowrap;
}

#cherished_button {
    margin: 12px; 
    display: inline-block;
    display: block;
    white-space: nowrap;
}

#main_header{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#21ACDA;
    margin-top: 10px;
    font-size: 2vw;
    font-weight: bold;
}

#main{
    height: 86vh;
    width: 100%;
}

#layout{
    width:100%;
    height:100%;
}

.general-spinner{
    display: inline-block;
    align-self: center;
    color: rgb(6, 249, 6);
    font-weight: bold;
}

#loading-1{
    display: inline-block;
    align-self: center;  
    border: 1px solid black;
}

/* div{
    border: 1px solid black;
    border-radius: 5px;
} */

#_pages_content{
    height: 100%;
    width: 100%;
}

#_pages_dummy{
    height: 100%;
    width: 100%;
}

#grid-output{
    display: grid;
    grid-template-columns: 6vh 20vh 30vh 132vh;
    gap: 1vh;
    grid-template-rows: 6vh 19vh 19vh 19vh;
    margin: 1%;
    height:66vh;
    width:192vh;
    display: 100%;
}

.grid_title_1 {
    grid-column: 1 / 1;
    grid-row: 1;
    text-align: center;
    height: 99%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.grid_title_2 {
    grid-column: 2 / 2;
    grid-row: 1;
    text-align: center;
    height: 99%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.grid_title_3 {
    grid-column: 3 / 3;
    grid-row: 1;
    text-align: center;
    height: 99%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.grid_title_4 {
    grid-column: 4 / 4;
    grid-row: 1;
    text-align: center;
    height: 99%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tier_row_1{
    grid-column: 1 / 1;
    grid-row: 2;
    text-align: center;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tier_row_2{
    grid-column: 1 / 1;
    grid-row: 3;
    text-align: center;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tier_row_3{
    grid-column: 1 / 1;
    grid-row: 4;
    text-align: center;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tier1_1 {
    grid-column: 2 / 2;
    grid-row: 2;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tier1_2 {
    grid-column: 3 / 3;
    grid-row: 2;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tier1_3 {
    grid-column: 4 / 4;
    grid-row: 2;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.tier2_1 {
    grid-column: 2 / 2;
    grid-row: 3;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tier2_2 {
    grid-column: 3 / 3;
    grid-row: 3;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tier2_3 {
    grid-column: 4 / 4;
    grid-row: 3;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tier3_1 {
    grid-column: 2 / 2;
    grid-row: 4;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tier3_2 {
    grid-column: 3 / 3;
    grid-row: 4;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.tier3_3 {
    grid-column: 4 / 4;
    grid-row: 4;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.title1{
    font-size:6vh;
    font-weight: bold;
    color: #8f8c8c;
}

.title2{
    font-size: 2.5vw;
    font-weight: bold;
}

.title3{
    font-size: 2vh;
    font-weight: bold;
}

.title4{
    font-size:4vh;
    font-weight: bold;
    color: black;
}

.number1{
    font-size: 60px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

#T1,#T2,#T3 {
    font-size: 6vh;
    font-weight: bold;
    display: table;
    margin: 0 auto;   
}

.grph1{
    height : 95%;
    width : 95%;
}

.csvDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: 100%;
    background-color:rgba(99, 98, 98, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.csvDiv2{
    width:60%;
    height: 80%;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

#tier1Modal, #tier2Modal, #tier3Modal, #tier4Modal, #tier5Modal, #tier6Modal{
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#tier1Modalb, #tier2Modalb, #tier3Modalb, #tier4Modalb, #tier5Modalb, #tier6Modalb {
    text-align: center;
    height:85%;
    width: 60%;
    overflow: scroll;
    display: inline-flex;
}

.export{
    position: absolute;
    top: 0%;
    left: 68%;
    border-radius: 5px;
    background-color: rgb(4, 106, 253);
    color: white;
    z-index: 1;
}
